/* Numpad Widget */
.pos .mode-button.selected-mode {
    color: white;
    background: #000080;
    border-color: transparent;
}
.pos .mode-button.selected-mode:hover {
    background: #000080;
    color: white;
    border-color: transparent;
}
/* Order Line */
.pos .order .orderline.selected{
    color: white;
    background: #000080;
    -webkit-transition: background 250ms ease-in-out;
       -moz-transition: background 250ms ease-in-out;
            transition: background 250ms ease-in-out;
    cursor: default;
}

.pos .order .orderline .img{
    padding:0;
    float:left;
}

/* Top Header */
.pos .pos-topheader {
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 48px;
    margin:0;
    padding:0;
    color: gray;
    background: #000080;
}

.pos .pos-branding .salesperson{
    float:right;
    color:#DDD;
    font-size:16px;
    margin-right:32px;
    line-height: 48px;
    font-style:italic;
    cursor: pointer;
    margin-top: -10px;
}

.pos .pos-branding .username{
    float:right;
    color:#DDD;
    font-size:16px;
    margin-right:32px;
    line-height: 48px;
    font-style:italic;
    cursor: pointer;
    margin-top: -10px;
}

/* for product image */
.pos .order .orderline .pos_product_image{
    float:left;
    margin:auto;
}
.pos .order {
    padding-top: 0px !important;
}
.pos .order .orderline .product-name {
    padding-top: 11px !important;
}
.pos .order .orderline .info-list {
    color: #888;
    margin-left: 10px;
    padding-bottom: 19px;
}